body{
    font-family:Arial,sans-serif;
    background:#f5f5f5;
    margin:0;
}

.container{
    width:700px;
    margin:40px auto;
}

.search-bar{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

.search-bar input{
    flex:1;
    padding:10px;
}

.search-bar button{
    padding:10px 20px;
}

.section{
    background:white;
    padding:20px;
    margin-bottom:25px;
    border-radius:8px;
}

.card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px;
    border-bottom:1px solid #ddd;
}

button{
    background:#ff3f6c;
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:5px;
    cursor:pointer;
}