.product-detail-page {
  width: 95%;
  margin: 100px auto;
  display: flex;
  gap: 40px;
  font-family: Arial, sans-serif;
}

.product-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-product-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-right {
  width: 45%;
}

.product-brand {
  font-size: 26px;
  color: #282c3f;
}

.product-name {
  font-size: 20px;
  font-weight: 400;
  color: #535665;
  margin-top: 8px;
}

.rating-box {
  margin-top: 15px;
  border: 1px solid #d4d5d9;
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #eaeaec;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.discount {
  color: #ff905a;
  margin-left: 10px;
  font-size: 18px;
}

.tax-text {
  color: #03a685;
  font-size: 14px;
  margin-top: 8px;
}

.sizes button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  border: 1px solid #bfc0c6;
  margin-right: 10px;
  cursor: pointer;
}

.sizes button:hover {
  border-color: #ff3f6c;
  color: #ff3f6c;
}

.action-buttons {
  margin-top: 25px;
}

.bag-btn {
  width: 220px;
  height: 48px;
  background-color: #ff3f6c;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.wishlist-btn {
  width: 170px;
  height: 48px;
  background-color: white;
  border: 1px solid #d4d5d9;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}

.delivery-section input {
  width: 250px;
  height: 40px;
  padding-left: 10px;
  margin-top: 10px;
}

.product-info h4 {
  margin-top: 18px;
}

.product-info p {
  margin-top: 8px;
  color: #535665;
}